body{
    background: white;
}

.h2{
    font-size: 50px;
    margin-top: 6%;
    font-weight:600;
}

#first-img{
    max-height: 75%;
    margin-top: 9%;
}

#second-img{
    max-height: 100%;
}

#second-image{
    margin-top: 50%;
}

#headings-content{
    font-size: 25px;
    font-weight: lighter;
}

#project-img{
    max-width: 100%;
}


.h3{
    font-weight: 600;
    margin-top: 15px;
}

#project-description{
    font-weight: lighter;
}