<div class="px-5 pb-5 bg-white">
    <div>
        <h1>Contact</h1>
        <p>
            Spicy jalapeno bacon ipsum dolor amet pork do picanha laboris anim exercitation t-bone shank. Chicken ea
            venison sausage flank, tempor boudin turducken enim officia fatback burgdoggen labore velit.
        </p>
    </div>

    <form class="bg-light bg-gradient mx-5 pb-2">
        <div class="container py-4 px-5">

            <div class="mb-3 row justify-content-end">
                <label for="exampleInputEmail1" class="form-label col-3 fw-bold text-center">Your E-Mail</label>
                <input type="email" class="col-8" id="exampleInputEmail1" placeholder="Your email">
            </div>

            <div class="row mb-3 justify-content-end">
                <label for="message" class="form-label col-3 fw-bold text-center">Your message</label>
                <textarea name="message" id="message" class="col-8" rows="5" placeholder="Please enter your message here..."></textarea>
            </div>

            <div class="row d-flex justify-content-end">
                <button type="submit" class="btn btn-primary col-2">Submit</button>
            </div>
        </div>
    </form>
</div>