<div class="row" style="width: 70%; margin: auto; margin-top: 50px;">
    <div class="col-8">
        <h2 class="h2">
            <span class="text-dark">This First Heading</span>
            <span class="text-secondary">Will Catch Your Eye</span>
        </h2>
        <p class="float-start" id="headings-content">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl conesectetur. Fusce
            dapibus, tellis ac cursus commodo.</p>
    </div>
    <div class="col-3">
        <img src="assets/img/1.jpg" class="rounded-circle img-fluid" alt="image2" id="second-img""> 
    </div>
</div>
<hr style=" width: 80%; margin: auto; margin-top: 50px;">