<!-- your html code here -->
<div class="row" style="max-height: 60vh; margin-top: 3%;">
    <div class="col-8" style="padding-left: 9%">
        <h2 class="h2"}>
            <span class="text-dark">The first heading</span>
            <span class="text-secondary">will catch your eye</span>
        </h2>
        <p class="float-start" id="headings-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, accusamus porro enim eos qui voluptate debitis quia aliquam reprehenderit ad dolorem tempore quas, corrupti assumenda architecto suscipit, iure totam sequi.</p>
    </div>
    <div class="col-4" style="max-height: 60vh;">
        <img src="assets/img/1.jpg" class="rounded-circle img-fluid" alt="nolohagasjessi" id="first-img""> 
    </div>
</div>