<!-- your html code here -->
<div class="row justify-content-center" style="margin-top: 50px;">
    <div class="col-8">
        <p class="h2" style="margin-top: 0">Portfolio</p>
        <p id="headings-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto doloremque, perferendis reprehenderit, hic aliquid ducimus deserunt nobis alias sunt odit neque tempore illum enim ipsam totam, commodi recusandae sequi ea.</p>
    </div>
</div>
<div class="row justify-content-center" style="margin: auto;">
    <div class="col-3">
            <img src="assets/img/big-project-image.png" class="img-fluid" alt="img1" id="project-img">
            <h3 class="h3 text-primary">Project name</h3>
            <p id="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quasi iste, nihil, deleniti itaque maiores iusto inventore perferendis sapiente dolorem voluptates soluta minima illo impedit voluptatum aspernatur beatae expedita libero.</p>
    </div>
    <div class="col-3">
            <img src="assets/img/big-project-image.png" class="img-fluid" alt="img2" id="project-img">
            <h3 class="h3 text-primary">Project name</h3>
            <p id="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quasi iste, nihil, deleniti itaque maiores iusto inventore perferendis sapiente dolorem voluptates soluta minima illo impedit voluptatum aspernatur beatae expedita libero.</p>
    </div>
    <div class="col-3">
            <img src="assets/img/big-project-image.png" class="img-fluid" alt="img3" id="project-img">
            <h3 class="h3 text-primary">Project name</h3>
            <p id="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quasi iste, nihil, deleniti itaque maiores iusto inventore perferendis sapiente dolorem voluptates soluta minima illo impedit voluptatum aspernatur beatae expedita libero.</p>
    </div>
</div>
<hr style=" width: 80%; margin: auto; margin-top: 50px;">