<!-- your html code here -->
<div class="row">
    <div class="col-3" style="max-height: 60vh; margin-top: 4%; margin-bottom: 5%;">
        <img src="assets/img/2.jpg" class="rounded-circle img-fluid float-end" alt="nolohagasjessi" id="second-img""> 
    </div>
    <div class="col-8"">
        <h2 class="h2">
            <span class="text-dark">The Second Heading</span>
            <span class="text-secondary">Is Pretty Cool Too</span>
        </h2>
        <p class="float-start" id="headings-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, accusamus porro enim eos qui voluptate debitis quia aliquam reprehenderit ad dolorem tempore quas, corrupti assumenda architecto suscipit, iure totam sequi.</p>
    </div>
</div>