<div class="row" style="width: 70%; margin: auto; margin-top: 50px;">
    <div class="col-3">
        <img src="assets/img/2.jpg" class="rounded-circle img-fluid" alt="image2" id="second-img""> 
    </div>
    <div class=" col-8">
        <h2 class="h2">
            <span class="text-dark">The Second Heading</span>
            <span class="text-secondary">Is Pretty Cool Too</span>
        </h2>
        <p class="float-start" id="headings-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repudiandae, accusamus porro enim eos qui voluptate debitis quia aliquam reprehenderit ad dolorem tempore
            quas, corrupti assumenda architecto suscipit, iure totam sequi.</p>
    </div>
</div>
<hr style="width: 80%; margin: auto; margin-top: 50px;">