<div class="bg-image" style="background-image: url('assets/img/bg.jpg'); background-size: cover; height: 600px;">
    <div class="mask">
        <div class="d-flex align-items-center flex-column justify-content-center" style="height: 600px;">
            <div class="text-black bg-white my-2 w-100">
                <h1 class="mb-3 d-flex justify-content-center display-1 fw-semibold">One Page Wonder</h1>
            </div>
            <div class="text-black bg-white my-2 w-100">
                <h4 class="mb-3 d-flex justify-content-center display-6 fw-semibold">Will knock your socks off</h4>
            </div>
        </div>
    </div>
</div>